/* Normalizacion: */
*{
    padding: 0;
    margin: 0;
     box-sizing: border-box; /*Esto mantiene el ancho y alto a pesar del padding y el border */
     font-family: 'Inconsolata',monospace;
     list-style: none; /* Quita los puntos al inicio de la lista */
     text-decoration: none;
     color: white
}

html, body {
    background-color: black; 
    height: 100%;       /* Asegura que el contenido ocupa al menos el 100% de la altura */
    margin: 0;          /* Elimina márgenes predeterminados */
    overflow-x: hidden; /* Evita desplazamiento horizontal */
    overflow-y: auto;   /* Activa el desplazamiento vertical */
    scroll-behavior: smooth; /* Esto activa el desplazamiento suave */
}
header{
    position: fixed;/*esto hace que el header se quede en la parte posterior*/
    right: 0;
    top: 0;
    z-index: 100;/*esto hace que el header se muetre por encima*/
    width: 100%;
    display: flex;
    align-items: center; /*Centra verticarlemnte*/
    justify-content: space-between; /*que los elementos se separen*/
    padding: 15px 3%;
    background-color: transparent;
}

.logo{
    font-size: 30px;
    font-weight: 700px;

}

.navlist {
    display: flex; /*esto es para que los elementos Ul se pongan en horizontal*/
}
.navlist a {
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600px;
    border-bottom: 2px solid transparent;
    transition: all .5s ease;
}

.navlist a:hover {
    border-bottom: 2px solid white; /*este es un subrayado blanco que aparecera cuando hacemos hover*/

}
#menu-icon {
    display: none; /*para que no se vea almenos que se colapce la pagina */
    font-size: 35px;
    z-index: 101;
    cursor: pointer;

}

#menu-toggle{
     display: none; /*nunca quiero que se vea el checkbox */
}

#menu-action{
    display: block; /*para que no se pueda hacer click */
}
.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg,#77B0AA 5%,#135D66 20%, #003C43 75%); /*Colores degragrado de fondo */
    position: relative; /*para que sea relativo al contenedor*/
    display: grid;/*para que el hero se divida en dos columnas*/
    grid-template-columns: 1fr 1fr; /*las dos columnas*/
    align-items: center; /*para alinear verticalmente el hero*/
    gap: 2rem; /*espacio de 2 rem entre ambas columnas*/
}
section {
    position: relative;
    padding: 60px 20px;
    margin-bottom: 40px;
    align-content: center;
    
}

.hero-text h1 {
    font-family: 'Roboto mono', monospace;
    font-size: 50px;
    line-height: 1;
    margin: 0 0 30px;
}

.hero-text h5 {
    font-size: 14px;
    font-weight: 400px;
    margin-bottom: 25px;

}

.hero-text h4 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}

.hero-img img {
    width: 400px;
    margin: 10% 0 0 10%;
    height: auto;
    transition: all 5s linear;
}

.hero-img img:hover {
    width: 450px;
    opacity: 0.6;
}

.hero-text p {
    font-size: 80%;
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 1.9;
    font-family: sans-serif;
}

.hero-text a {
    display: inline-block;  
    background-color: black;
    border: 1px;
    padding: 15px 30px;
    line-height: 1.4;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all 5s ease;
}

.hero-text a:hover {
    background-color: transparent;
    border: 1px solid white;
    transform: translateX(8px);

}

.icons {
    top: 50vh;
    padding: 0 3%;
    transform: translateY(-50%);
}

.icons i {
    display: block;
    margin: 26px 0;
    font-size: 24px;
    transition: all 0.5s ease;
}

.icons i:hover{
    color: #4d4d4d;
    transform: translateY(-5px);
}

.scroll-down {
    position: absolute;
    bottom: 6%;
    right: 3%;
}

.scroll-down i {
    display: block;
    padding: 12px;
    font-size: 25px;
    background-color: #21383d;
    border-radius: 30px;
    transition: all .5s ease;
}

.scroll-down i:hover{
    transform: translateY(-5px);
}


/* Aca vamos a hacer mediaqueries para que la web sea responsive */

@media (max-width:992px){
    section {
        padding: 0 3%;
        transition: .2s;
    }

    .hero-text{
        padding-top: 0;
    }

    .hero-img{
        text-align: center;
    }

    .hero-img img{
        width: 80%;
        margin: 10% 0 0 10%;
    }

    .hero-text p {
        font-size: 70%;
    }

    .icons{
        display: none;
    }

    .scroll-down{
        display: none;
    }
}

@media (max-width: 768px){

    .menu-icon-action{
        display: block;
    }

    #menu-icon{
        display: block;
    }

    .hero-text{
        text-align: center;
        padding-top: 100px;
    }

    .hero-img img {
        margin: 0;
    }

    .hero {
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }

    .navlist{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 200px;
        height: 180px;
        background-color: #021719ef;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 20px;
        transition: all .5s ease-out;
    }

    .navlist a {
        display: block;
        margin: 7px 0;
    }

    #menu-toggle:checked + label.menu-icon-action + ul{
        right: 0;
    }
}